<html>
<head>
	
	<!-- bower:css -->
	<!-- endbower -->
	<!-- inject:css -->
	<link rel="stylesheet" href="/css/index.css">
	<!-- endinject -->
	
</head>
<body style="color:white;">
	<div id="linkbar" style="text-align:center;">
		<% for(var j=0; j<nav.length; j++){ %>
			<div id="link" style="display:inline-block;"> 
				<a href="/<%= nav[j].link %>"><%= nav[j].text %></a>
			</div>
		<% } %>
	</div>
	I am the single event main page from events.html
	
		<div><%= events.name %> - <%= events.date %> : capacity= <%= events.capacity %></div>
			
		
	</ul>
	
	<!-- bower:js -->
	<script src="../../bower_components/jquery/dist/jquery.js"></script>
	<!-- endbower -->
	<!-- inject:js -->
	<script src="/js/index.js"></script>
	<!-- endinject -->
	
</body>
</html>